.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 30px 0;
}

.contact img {
	margin: auto 5px;
	height: 30px;
}

#contactCheck, .contactLabel {
	display: none;
}

@media (min-width:800px) {

	.contact h3 {
		display: none;
	}

	.contact {
		display: block;
		position: absolute;
		margin: auto;
		width: 200px;
		height: 200px;
		top: -65px;
		right: -65px;
	}

	.contact * {
		padding: 0;
		margin: 0;
	}

	.contactLabel {
		display: block;
	}

	.contactButton {
		cursor: pointer;
		z-index: 2;
		margin: auto;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 50%;
		color: #111;
		background-color: #ff3541;
		box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
		transition: transform .3s ease;
	}

	.contactIcons {
		z-index: 1;
		margin: auto;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 100%;
		background-color: #ff3541;
		box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.5);
		transition: all .3s ease;
	}

	.contactButton:hover {
		transform: scale(1.1);
	}

	.contactButton:active {
		transform: scale(0.9);
	}

	#contactCheck:checked ~ .contactButton {
		transform: rotateY(180deg);
		box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.8);
	}

	#contactCheck:checked ~ .contactIcons {
		width: 200px;
		height: 200px;
	}

	.contact img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: auto;
		transition: transform .3s ease;
	}

	.contactButton img {
		width: 60%;
	}

	.contactIcons img {
		width: 30px;
		border-radius: 50%;
		box-shadow: 0 8px 20px -8px rgba(0, 0, 0, 0.8);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	#contactCheck:checked ~ .contactIcons .iconOne {
		transform: translate(0, 70px);
	}

	#contactCheck:checked ~ .contactIcons .iconTwo {
		transform: translate(-50px, 50px);
	}

	#contactCheck:checked ~ .contactIcons .iconThree {
		transform: translate(-70px, 0);
	}

}