.box {
	float: left;
	margin: 25px 0 0 20px;
	width: 22px;
	height: 22px;
	transform-style: preserve-3d;
	transform: rotateY(0deg) rotateX(-30deg);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.cube {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateY(45deg) rotateX(0deg);
}

.cube > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(17, 17, 17, 0.8);
	border: 1px solid #ff3541;
	transition: all 1s ease-in-out;
}

.cube > div img {
	width: 80%;
	height: 80%;
}

.fro {
	transform: translateZ(-11px);
}
.bac {
	transform: translateZ(11px);
}
.lef {
	transform: rotateY(270deg) translateX(-11px);
	transform-origin: center left;
}
.rig {
	transform: rotateY(-270deg) translateX(11px);
	transform-origin: top right;
}
.top {
	transform: rotateX(-90deg) translateY(-11px);
	transform-origin: top center;
}
.bot {
	transform: rotateX(90deg) translateY(11px);
	transform-origin: bottom center;
}