@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Raleway:wght@200;400;700&display=swap');

:root {
	--main-background-color: #111;
	--main-text-color: #111;
	--alt-text-color: #eee;
	--main-style-color: #ff3541;
	--alt-style-color: #ffc759;
	--main-typeface: 'Raleway', sans-serif;
	--alt-typeface: 'Lora', serif;
	box-sizing: border-box;	
}

body {
	margin: auto;
	font-family: var(--main-typeface);
	font-size: 15px;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

h1, h2 {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--main-style-color);
	
}

h3 {
	margin: 20px auto;
	font-size: 1.5rem;
	text-align: center;
	color: var(--main-style-color);
	text-shadow:
	      0 2px 1px rgba(0, 0, 0, 0.3),
          0 4px 2px rgba(0, 0, 0, 0.2),
          0 8px 3px rgba(0, 0, 0, 0.1),
          0 16px 4px rgba(0, 0, 0, 0.1);
}

h4, h5 {
	margin: 5px 0 5px 50px;
	color: var(--main-text-color);

}

h1, h4 {
	font-weight: 700;
}

h2, h5 {
	font-weight: 400;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	padding: 5px;
	width: 95vw;
	height: 50px;
	text-align: right;
}

.logo img {
	width: 50px;
}

main {
	margin: 40px 0;
}

section {
	margin: auto;
}

section > div {
	margin: 15px auto;
	padding: 10px;
	background-color: var(--main-style-color);
	transition: all 1s;
}

/*.portfolio {
	background: linear-gradient(to bottom,
				rgba(255, 53, 65, 1) 50%,
				rgba(255, 53, 65, 0)),
				url("https://images.unsplash.com/photo-1589746680328-25b4109b4287?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
				no-repeat center/cover;
}*/

input[type=checkbox] {
	display: none;
}

label input ~ div {
	display: none;
}

label input:checked ~ div {
	display: block;
}

label .itemArrow {
	float: left;
	margin: 12px 0 0 10px;
	width: 20px;
}

label input:checked ~ .itemArrow {
	transform: rotate(90deg);
}

.paragraph {
	font-family: var(--alt-typeface);
}

.contentImg {
	display: none;
}

footer {
	margin: 70px auto auto auto;
	background-color: var(--main-style-color);
}


@media screen and (min-width: 800px) {

	h3 {
		margin: 50px auto 0 auto;
		padding: 20px 0;
		color: var(--main-text-color);
		background-color: var(--main-style-color);
	}

	h4, h5 {
		margin: 5px 0 5px 0;
		text-align: center;
		color: var(--alt-text-color);
	}

	a {
		color: var(--alt-text-color);
		text-decoration: none;
	}

	header {
		width: 300px;
	}

	section > div {
		margin: 0;
		color: var(--alt-text-color);
		background-color: transparent;
	}

	.portfolio {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.portfolio:nth-child(even) {
		background-color: #392e2e;
	}

	.portfolio div {
		width: 40vw;
	}
	
	.portfolio h4, .portfolio h5 {
		text-align: left;
	}

	.content {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid var(--main-style-color);
	}

	.contentImg {
		display: block;
		width: 100%;
		height: 250px;
		object-fit: cover;
	}

	label input ~ div {
		display: block;
	}

	label .itemArrow {
		display: none;
	}


}


@media screen and (min-width: 1200px) {

	.portfolio div {
		width: 30vw;
	}

}