@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Raleway:wght@200;400;700&display=swap');

:root {
	--main-background-color: #111;
	--main-text-color: #111;
	--alt-text-color: #eee;
	--main-style-color: #ff3541;
	--alt-style-color: #ffc759;
	--main-typeface: 'Raleway', sans-serif;
	--alt-typeface: 'Josefin Slab', serif;
}

body {
	box-sizing: border-box;
	margin: auto;
	font-family: var(--main-typeface);
	font-size: 17px;
	line-height: 22px;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
}

p {
	font-family: var(--alt-typeface);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

/* === BEGIN MOBILE STYLING === */

h1, h2 {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--main-style-color);
	
}

h3 {
	margin: 20px auto;
	font-size: 1.5rem;
	text-align: center;
	color: var(--main-style-color);
	text-shadow:
	      0 2px 1px rgba(0, 0, 0, 0.3),
          0 4px 2px rgba(0, 0, 0, 0.2),
          0 8px 3px rgba(0, 0, 0, 0.1),
          0 16px 4px rgba(0, 0, 0, 0.1);
}

h4 {
	padding-top: 15px;
}

h5 {
	padding-bottom: 15px;
}

h6 {
	font-size: 0.8rem;
	line-height: 2rem;
	text-align: center;
}

h4, h5 {
	margin: 5px 0 5px 50px;
	line-height: 1rem;
	color: var(--main-text-color);
}

h1, h4 {
	font-weight: 700;
}

h2, h5 {
	font-weight: 400;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	padding: 5px;
	width: 95vw;
	height: 50px;
	text-align: right;
}

.logo img {
	width: 50px;
}

main {
	margin: 40px 0 0 0;
}

section {
	margin: auto;
}

.portfolio {
	display: flex;
	flex-direction: column-reverse;
	margin: 15px auto;
	background-color: var(--main-style-color);
	transition: all 1s;
}

.content div {
	background-color: var(--alt-style-color);
}

.contentImg {
	display: block;
	width: 100%;
	height: 70px;
	object-fit: cover;
}

.contact {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.contact img {
	margin: auto;
	height: 30px;
}

/* BEGIN CHECKBOX STYLING FOR MOBILE */

input[type=checkbox] {
	display: none;
}

input ~ div {
	height: 0;
	transform: rotateX(90deg);
	transform-origin: top;
	transition: all 1s;
}

input:checked ~ div {
	padding: 10px 0;
	height: auto;
	transform: rotateX(0);
}

input ~ div p {
	display: none;
	margin: 0;
	padding: 0;
}

input:checked ~ div p {
	display: block;
	padding: 10px 20px;
}

label .itemArrow {
	float: left;
	margin: 25px 0 0 10px;
	width: 30px;
	transition: all 0.5s;
}

input:checked ~ label .itemArrow {
	transform: rotate(45deg);
}

/* END CHECKBOX STYLING FOR MOBILE */

/* === END MOBILE STYLING === */

@media screen and (min-width: 800px) {

	main h3 {
		margin: 50px auto 0 auto;
		padding: 20px 0;
		color: var(--main-text-color);
		background-color: var(--main-style-color);
	}

	main h4, h5 {
		margin: 5px 0 5px 0;
		color: var(--alt-text-color);
	}

	a {
		color: var(--alt-text-color);
	}

	header {
		width: 300px;
	}

	.portfolio {
		flex-direction: row;
		justify-content: center;
		margin: auto;
		color: var(--alt-text-color);
		background-color: transparent;
	}

	.portfolio:nth-child(odd) {
		background-color: #392e2e;
	}

	.portfolio > div {
		margin: 10px 0;
		width: 40vw;
	}

	.portfolio div:nth-child(2) {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid var(--main-style-color);
	}

	.portfolio h4, .content h5 {
		text-align: left;
	}

	.content div {
		padding: 0;
		background-color: transparent;
	}

	.contentImg {
		height: 250px;
	}

	.contact {
		background-color: transparent;
	}

	.contact {
		flex-direction: row;
		align-items: center;
		position: absolute;
		margin: 0 5px;
		top: 0;
		right: 0;
		height: 50px;
	}

	.contact * {
		padding: 0 2px;
	}

	.contact h3 {
		display: inline;
		margin: 0;
		font-size: 1rem;
	}

	/* BEGIN REMOVING CHECKBOX STYLING FOR DESKTOP */

	input ~ div {
		height: auto;
		transform: rotateX(0);
	}

	input:checked ~ div {
		padding: 0;
	}

	input ~ div p, input:checked ~ div p  {
		display: block;
		margin: 10px 0;
		padding: 0;
	}

	label .itemArrow {
		display: none;
	}

	/* END REMOVING CHECKBOX STYLING FOR DESKTOP */

}


@media screen and (min-width: 1400px) {

	.portfolio > div {
		width: 30vw;
	}

}
